*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
}

img {
    max-width: 100%;
    width: 100%;
}

main {
    min-height: 80vh;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 6rem;
}

.rating span {
    margin: 0.1rem;
}

.active_color {
    color: #1890ff;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }